<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Portfolio</title>
  </head>
  <body>
      <nav class="navbar">
        <ul class="justify-center">
            <li class="li-inline nav-item"><a href="/about">ABOUT</a></li>
            <li class="li-inline nav-item"><a href="/projects">PROJECTS</a></li>
            <li class="li-inline nav-item"><a href="/mission">MISSION</a></li>
        </ul>
      </nav>


    <main>
      {{{body}}}
    </main>
     
    <footer class="flex-row justify-center">
        <nav class="navbar-footer">
            <ul>
                <li class="li-inline nav-item">
                    <a href="https://github.com/santiagov916" target="_blank">GITHUB</a>
                  </li>
                  <li class="li-inline nav-item">
                    <a href="https://www.linkedin.com/in/santiago-venegas-88ab4b1bb/" target="_blank">LINKED IN</a>
                  </li>
                  <li class="li-inline nav-item">
                    <a href="https://www.instagram.com/doyothangsant/" target="_blank">INSTAGRAM</a>
                  </li>
                  <li class="li-inline nav-item">
                    <a href="mailto:gme.santi24@yahoo.com" target="_blank">EMAIL</a>
                  </li>
            </ul>
          </nav>
    </footer>
  </body>
</html>