    <section class="hero">
        <div class="hero-looks">
          <img class="hero-photo" src="./assets/images/logo.svg" alt="" />
          <div class="card-title">
            <h2 class="danger">Philippians 4:13</h2>
            <p>I can do all things through Christ who strengthens me.</p>
          </div>
        </div>
      </section>