    <section class="hero">
          <img class="hero-photo" src="../public/images/logo.svg"/>
            <h2 class="app-title">Philippians 4:13</h2>
            <p>I can do all things through Christ who strengthens me.</p>
          </div>
        </div>
      </section>