    <section class="hero">
      <div class="main">

          <div class="card">
              <div class="card-body">
                  <div class="card-img">
                      <img src="./assets/images/logo.svg" alt="">
                  </div>
                  <div class="card-script">
                    <h3 class="card-title">Philippians 4:13</h3>
                    <p class="card-text">I can do all things through Christ who strengthens me.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>