:root {
    --blue: rgb(51, 64, 136);
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
      /* this will be applied on any screen smaller than 980px */

    .title {
        display: flex;
        border-right: none;
        border-bottom: 1px solid var(--blue);
        padding-right: 0;
        margin: 0 auto;
    }
    .title h1 {
        text-align: center;
    }
    .header-text {
        margin: 0 auto;
        width: 100%;
        padding-right: 0%;
    }
    header nav {
        align-items: center;
        margin: 0 auto;
    }
    .header-text p {
        padding: auto;
        text-align: center;
        font-size: 1.5vw;
    }
    header nav ul li a {
        font-size: 20px;
    }
    footer h2 {
        text-align: center;
        width: 100%;
    }
    .hero-looks {
        width: 30%;
        align-items: center;
        margin: 6.04%;
        line-height: 1.5;
    }

    
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
      /* this will be applied on any screen between 768px and 575px */
 
      .title {
          padding: 0%;
          border-bottom: 2px solid var(--blue);
          border-right: 0px;
          align-items: center;
          margin: 0 auto;
      }
      .title h1 a {
          text-align: center;
      }
      .header-text {
          align-items: center;
          margin: 0 auto;
      }
      .header-text p {
          text-align: center;
          padding: auto;
          font-size: 2vw;
      }
      header nav {
          margin: 0 auto;
        display: flex;
        align-items: center;
      }

  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
      /* this will be applied on any screen smaller than 575px */
    .hero-looks {
        margin: 4.25%;
    }
  }