:root {
    --blue: rgb(51, 64, 136);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header section */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding: 20px 35px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(./images/midtown-manhattan-new-york-city-usa.jpg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}
header a {
    text-decoration: none;
    color: var(--blue);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--blue);
    margin: 0;
    text-shadow: 0 1 1 rgb(0, 0, 0);
}

header p {
    text-align: center;
    line-height: 1.5em;
}

/* nav section */
header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: white;
    color: black;
    border: 15px;
    text-shadow: none;
}
 /* hero section */
.hero {
    opacity: 95%;
    background-image: url(./images/midtown-manhattan-new-york-city-usa.jpg);
    align-items: flex-start;
    background-size: cover;
    background-position: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: 80%;
}

.hero-looks {
    width: 30%;
    align-items: center;
    margin: 3.5%;
    line-height: 1.5;
}

.hero-looks img {
    opacity: 90%;
    border-radius: 50%;
    padding: 40px;
}

.hero-looks h2, p {
    color: white;
    text-align: center;
    text-shadow: 0.5 0.5 0.5 rgba(255, 255, 255, 0.5);
}

.hero-looks h2 {
    border-bottom: 1px solid white;
}

.left-titles {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    padding-bottom: 5px;
    text-align: center;
    margin: 0 auto 25px auto;
    width: 50%;
}
.flex-row {
    display: flex;
}
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--blue);
    padding: 40px;
}